/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Chivo:ital,wght@0,100..900;1,100..900&display=swap");

h1,
h2,
h3,
h4 {
  font-family: "Bitter";
}

p,
button,
a,
input,
li,
select {
  font-family: "Chivo";
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  overflow: hidden;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
  margin: 0;
}

/* Center headers */
h1 {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

/* Set core body defaults */
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column-reverse;
  background-color: rgb(76, 89, 88);
}

.content {
  height: 90vh;
  background-color: rgb(191, 191, 191);
  border-radius: 2rem 2rem 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

#root {
  flex: 1;
  width: 100%;
  margin: 0;
  display: inherit;
  flex-direction: inherit;
  place-content: inherit;
  font-family: inherit;
  color: inherit;
  background-color: inherit;
}

/* Class to bold and italicize text */
.bold {
  font-weight: 800;
}

.italic {
  font-style: italic;
}

/* Standard button design */
button {
  padding: 1rem;
  background-color: rgb(138, 166, 163);
  border: 2px solid rgb(63, 127, 120);
  border-radius: 1rem;
}

button a {
  text-decoration: none;
}

button:hover {
  background-color: rgb(91, 148, 143);
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
  background-color: rgb(108, 108, 108);
  border: 2px solid rgb(88, 88, 88);
  color: rgb(53, 53, 53);
  opacity: 0.7;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}
